@model LoginViewModel; 
@{
    Layout = null;
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
@if(Model.failedAttempt)
{
    <p>Invalid email and/or password.</p>
}

<form asp-controller="Login" asp-action="Try">
    <label>Email</label>
    <br />
    <input type="text" asp-for="email" />
    <br />
    <label>Password</label>
    <br />
    <input type="password" asp-for="password" />
    <br />
    <input type="hidden" asp-for="redirect" value="@Model.redirect"/>
    <input type="submit" value="Login"/>
</form>