@using HetBetereGroepje.HealthCheck.Domain
@model HomeViewModel

<div>
	
	<h3>Your health checks</h3>
	<a href="/health-check/create">Create a new health check</a>
	<br />
	<br />
	@foreach(IHealthCheck healthCheck in @Model.healthChecks)
	{
		<a href="@AppConstants.Paths.HealthCheck/@healthCheck.Hash">@healthCheck.Name</a><br />
	}
</div>