.chartMain {
    display: inline-block;
    width: 40%;
    margin-bottom: 200px;
    margin-top: 65px;
}

.MyCoolButton {
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background: #FFE000;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    padding: 5px;
    transition: 0.3s;
}
    .MyCoolButton:hover {
        transform: scale(1.05);
    }

.buttonsMain {
    display: inline-block;
    float: left;
    overflow-y: auto; 
    height:500px;
    margin-right: 20px;
    padding: 50px;
    background-color: ;
    margin-top:100px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255, 224, 0, 0.75);
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 224, 0, 1);
}







.scroll-downs {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 34px;
    height: 55px;
}

.mousey {
    position: absolute;
    margin-top: 300px;
    margin-left: -370px;
    color: #FFE000 !important;
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}

.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% {
        opacity: 0;
    }

    10% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}