html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbarimage{
    width: 80px;
    margin-right: 10px;
}

.image {
    width: 100%;
    height: auto;
    filter: drop-shadow(0px 0px 10px black);
}

.navbarcolor {
    background-color: #fff000;
}


body {
    background-color: #232323;
}


footer {
    position:absolute;
    height: 100px;
    width: 100%;
    background-color: #fff000;
    text-align: center;
}

.size{
    font-size:20px;

}

.navbar .logout {
    text-decoration: none;
    color: black;
    transition: 0.3s;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    outline: 2px solid black;
    padding: 10px;
}
    .navbar .logout:hover {
        transform: scale(1.2);
        outline: 2px solid black;
        border-radius: 10px;
        padding: 10px;
        transition: 0.3s;
    }

