@{
    Layout = "_LayoutNoLogin";
}

<link rel="stylesheet" href="~/css/Thanks.css" asp-append-version="true" />

<h1>Thanks!</h1>
<div class="divcss">
    <img src="https://media1.giphy.com/media/dalJ0CpF7hwmN1nZXe/giphy.gif?cid=6c09b952b4d08e550a32e44689053da99d9a7afbb9a6f1c3&rid=giphy.gif&ct=g">
</div>    